.post-box{"data-item_id" => "#{comment.id}", "current-book_id" => "#{@book.id}"}
  %h5
    = comment.created_at.strftime("%I:%M %p")
  %h5
    %strong Commenter
    = comment.user.email
  %h5
    %strong Comment
    = comment.body
  -if current_user.master?
    %i.far.fa-trash-alt.delete-link_com
  - else
    - if current_user.email == comment.user.email
      %i.far.fa-trash-alt.delete-link_com
