.container
  .row
    .col-md-12
      %h2 All comments
  .row
    - @comments.each do |comment|
      .mix.col-md-4.col-sm-6.col-xs-12
        %h3 "#{comment.book.title}"
        = image_tag(comment.book.image.thumb.url, alt: 'Image') if comment.book.image?
        %p
          %strong Commenter:
          = User.find(id: comment.user_id).email
        %p
          %strong Comment:
          = comment.body

= link_to 'All books', books_path, class: 'btn btn-primary btn-lg back_list_books'
