.panel
  .panel-heading
    .panel-title
  .panel-body
    = form_with model: @user, class: 'form-horizontal', local: true do |f|
      - if @user.errors.any?
        .form-group
          .col-lg-10.col-lg-offset-2
            %ul.list-unstyled.text-danger
              - @user.errors.full_messages.each do |message|
                %li = message
      = render 'users/user_data', f: f

      = render 'password', f: f if @user.new_record?
      %hr
      .form-group
        .col-lg-offset-2.col-lg-10
          .actions
            = f.submit class: 'btn btn-sm btn-info', value: 'submit'

- unless @user.new_record?
  = form_with model: @user, class: 'form-horizontal' do |f|
    .panel
      .panel-heading
        .panel-title 'users edit_password'
      .panel-body
        = render 'password', f: f
        .form-group
          .col-lg-offset-2.col-lg-10
            .actions
              = f.submit class: 'btn btn-sm btn-info', value: 'submit'
