.form-group
  = f.label :password, class: 'col-lg-2 control-label'
  .col-lg-10
    = f.password_field :password, class: 'form-control', placeholder: true
.form-group
  = f.label :password_confirmation, class: 'col-lg-2 control-label'
  .col-lg-10
    = f.password_field :password_confirmation, class: 'form-control', placeholder: true
.form-group
  = f.label :current_password, class: 'col-lg-2 control-label'
  %i (we need your current password to confirm your changes)
  .col-lg-10
    = f.password_field :current_password, autocomplete: "current-password", class: 'form-control', placeholder: true
