%table.table_book
  %tr
    %th
      =sortable 'title'
      %span
    %th
      = sortable 'author'
      %span
    %th Status
    - if user.master?
      %th
    %th Reader
    - if user.master?
      %th Action
  - books.each do |book|
    %tr.post-box{"data-item_id" => "#{book.id}"}
      %td
        %div.stars(style = "--rating: #{book.rating};")
        .post-box
          - unless book.image.model[:image].nil?
            = image_tag(book.image.book_list_thumb.url, alt: 'Image')
          - else
            = image_tag('default_small.png', alt: 'No image')
          .categor_item_cont
            %h4= link_to book.title, book_path(book), class: 'list-group-item', 'data-search-term' => "#{book.title}"
            %p= book.category.name
      %td
        %h4 '#{book.author}'
        %h4
          %i.far.fa-comment
          = pluralize(book.comments.count, '')
      %td{id: "#{book.id}"}
        - if book.status == true
          - unless book.subscriptions.empty?
            - if book.subscriptions.first.deleted_at.nil?
              %h4 Out
          - else
            %h4 Available
        - else book.status == false
          %h4 On restoration
      - if user.master?
        %td
          - unless book.subscriptions.empty?
            - unless book.subscriptions.first.deleted_at.nil?
              = check_box_tag :status, book.id, book.status, class: 'task-check'
          - else
            = check_box_tag :status, book.id, book.status, class: 'task-check'
      %td
        - unless book.subscriptions.empty?
          - if book.subscriptions.first.deleted_at.nil?
            %h4= book.subscriptions.first.user.name
      - if user.master?
        %td
          = link_to book_path(book), class: "btn-xs, btn-info like-link" do
            %i.far.fa-eye
          = link_to edit_book_path(book), class: "btn-xs, btn-info like-link" do
            %i.fas.fa-pencil-alt
          = link_to '#', class: "btn-xs, btn-info like-link" do
            %i.far.fa-trash-alt.delete-link
          %h4.sub_link
            = link_to book_subscriptions_path(book), class: "btn-xs, btn-info like-link" do
              %i.fas.fa-angle-double-right Subscription
