.container
  .row
    .col-md-12
      %h2 Books
      %p
        = link_to 'New book', new_book_path, class: 'btn btn-primary btn-lg'
  .row
    .col-md-12
      %h3.heading Top rated books:
  .row
    - @books_rate.each do |book|
      .mix.col-md-2.col-sm-4.col-6
        %div.stars(style = "--rating: #{book.rating};")
        .post-box
          - unless book.image.model[:image].nil?
            = image_tag(book.image.middle_thumb.url, alt: 'Image')
          - else
            = image_tag('default_small.png', alt: 'No image')
          .categor_item_cont
            %h3= link_to book.title, book_path(book), class: 'list-group-item', 'data-search-term' => "#{book.title}"
            %p= book.category.name unless book.category.nil?
  .row
    .col-md-12
      %h3.heading All books:
  .row
    .col-md-12
      %div= paginate @books
  .row.justify-content-center
    .col-md-6
      .panel-search
        %label Search:
        %input.live-search-box.form-control.input-sm{placeholder: ("search here"), type: "text"}
  .row.justify-content-center
    .col-md-6
      = render 'books', books: @books, user: @user
  .row
    %div= paginate @books