%p#notice= notice
.container
  .row
    .col-md-12
      %h2= " #{@book.title}"
      %p= " #{@book.author}"
      - unless @book.image.model[:image].nil?
        %p= image_tag(@book.image.url, alt: 'Image')
      - else
        %p= image_tag('default.png', alt: 'No image')
      %ul.rating
        - likable_id = @book.id
        - likable_type = "Book"
        - user_like = find_user_like(likable_id, likable_type)
        - if user_like
          - form_id = "books_#{@book.id}_like"
          = form_for @book.likes.find(user_like), :html => { :id => "books_#{@book.id}_like", :class => "star_rating_form" } do |f|
            = f.hidden_field :likable_id
            = f.hidden_field :likable_type
            = f.hidden_field :star, :id => "#{form_id}_stars"
          - (1..5).each do |i|
            %li.rating_update{"data-stars"=> "#{i}", "data-form-id"=> "#{form_id}", id: "#{form_id}_#{i}", "data-id"=> "#{@book.id}"}
        - else
          - form_id = "books_#{@book.id}_like"
          = form_for @book.likes.build, :html => { :id => "books_#{@book.id}_like", :class => "star_rating_form" } do |f|
            = f.hidden_field :likable_id
            = f.hidden_field :likable_type
            = f.hidden_field :star, :id => "#{form_id}_stars"
          - (1..5).each do |i|
            %li.rating_star{"data-stars"=> "#{i}", "data-form-id"=> "#{form_id}", id: "#{form_id}_#{i}", "data-id"=> "#{@book.id}"}
      %p= " #{@book.status}"
      %p= " #{@book.description}"
  .row
    .col-md-12
      #comments
        - @comments.each do |comment|
          = render 'comments/comment', comment: comment, book: @book
  .row
    .col-md-12
      #new-comment
        = link_to 'New Comment', new_book_comment_path(@book), remote: true
  .row
    %h3 History subscribtion
    %table
      %tr
        %th Reader's name
        %th Email
        %th Date of subscription
        %th Date of return book
      - @subs_del.each do |sub|
        %tr
          %td
            %p= sub.user.name
          %td
            %p= sub.user.email
          %td
            %p= sub.created_at.strftime("%d/%m/%Y")
          %td
            %p= sub.deleted_at.strftime("%d/%m/%Y")
      - @subs.each do |sub|
        %tr
          %td
            %p= sub.user.name
          %td
            %p= sub.user.email
          %td
            %p= sub.created_at.strftime("%d/%m/%Y")
          %td
            %p= sub.deleted_at
  .row
    .col-md-12
      %p= link_to "add_book", new_book_path, class: "add_book"
      %p= link_to "back", books_path, class: "back_list_books"
