%p#notice= notice
.container
  .row
    .col-md-12
      %h2= " #{@book.title}"
      %p= " #{@book.author}"
      %p= image_tag(@book.image.url, alt: 'Image')

      %ul.rating
        - (1..5).each do |i|
          %li.rating_star{"data-stars"=> "#{i}", "data-movie-id"=> "#{@book.id}", id: "#{@book.id}_#{i}"}

      %p= render '/likes/like_link', likable_type: "Book", item: @book

      %p= " #{@book.status}"
      %p= " #{@book.description}"

      %p= link_to "add_book", new_book_path, class: "add_image"
      %p= link_to "back", books_path, class: "back_list_books"
