.container
  .row
    .col-md-12
      %h2 Subjects
  .row
    .col-md-12
      %p Browse the wonderful world of Subject Headings. It's a bit like a thesaurus, only better!
  .row
    .col-md-12
      %h2 Subject Search
  .row
    .col-md-4
      %table
        %tr
          %th= sortable 'name'
        - @categories.each do |category_name|
          %tr
            %td
              = link_to "#{category_name.name}", category_path(category_name)
    .col-md-4
      %table
        %tr
          %th= sortable 'author'
        - @author_book.each do |author_book|
          %tr
            %td
              = link_to "#{author_book[0]}", "#", class: "", "data-toggle" => 'modal', 'data-target' => "#a#{author_book[1][0].id}"
              .modal.fade(id="a#{author_book[1][0].id}" tabindex="-1" role="dialog" aria-labelledby="a#{author_book[1][0].id}Title" aria-hidden="true")
                .modal-dialog.modal-xl.modal-dialog-centered(role="document")
                  .modal-content
                    .modal-header
                      %h5.modal-title(id="a#{author_book[1][0].id}Title") Modal title
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      .container-fluid
                        .row
                          .col-md-12
                            = render 'books/books', books: author_book[1], user: @user
                    .modal-footer
                      %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close
    .col-md-4
      %table
        %tr
          %th= sortable 'status'
        - @status_book.each do |status|
          %tr
            %td
              = link_to "#{status[0]}", "#", class: "", "data-toggle" => 'modal', 'data-target' => "#b#{status[1][0].id}"
              .modal.fade(id="b#{status[1][0].id}" tabindex="-1" role="dialog" aria-labelledby="b#{status[1][0].id}Title" aria-hidden="true")
                .modal-dialog.modal-xl.modal-dialog-centered(role="document")
                  .modal-content
                    .modal-header
                      %h5.modal-title(id="b#{status[1][0].id}Title") Modal title
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      .container-fluid
                        .row
                          .col-md-12
                            = render 'books/books_subj', books: status[1], user: @user
                    .modal-footer
                      %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close
  .row
    .col-md-12
      %h2 Number of books by category
      = pie_chart @data, library: { pieSliceText: 'value', is3D: true, backgroundColor: "#e1dcc5" }, legend: "bottom"
