.container
  .row
    .col-md-12
      %h1 Subjects
  .row
    .col-md-12
      %p Browse the wonderful world of Subject Headings. It's a bit like a thesaurus, only better!
  .row
    .col-md-12
      %h2 Subject Search
  .row
    .col-md-4
      %table
        %tr
          %th= sortable 'name'
        - @categories.each do |category_name|
          %tr
            %td
              = link_to "#{category_name.name}", category_path(category_name)
    .col-md-4
      %table
        %tr
          %th= sortable 'author'
        - @author_book.each do |author_book|
          %tr
            %td
              = link_to "#{author_book[0]}", "#", class: "", "data-toggle" => 'modal', 'data-target' => "#a#{author_book[1][0].id}"
              .modal.fade(id="a#{author_book[1][0].id}" tabindex="-1" role="dialog" aria-labelledby="a#{author_book[1][0].id}" aria-hidden="true")
                .modal-dialog(role="document")
                  .modal-content
                    .modal-header
                      - author_book[1].each do |book|
                        = link_to book.title, book_path(book)
                      .modal-title
                    .modal-body
                      .modal-body_abstract.modal-body-h4
                      .modal-body_body.modal-body-h4
                      .modal-body_published_date.modal-body-h4
    .col-md-4
      %table
        %tr
          %th= sortable 'status'
        - @status_book.each do |status|
          %tr
            %td
              = link_to "#{status[0]}" #, category_path(category_name)
              - status[1].each do |book|
                = link_to book.title, book_path(book)
