%header
  .container
    -#.header_top
    .row
      .col-md-6
        #logo
          = link_to image_tag('logo.svg'), root_path
      .col-md-6
        %button.toggle_mnu(id="toggle_mnu")
          %span.sandwich
            %span.sw-topper
            %span.sw-bottom
            %span.sw-footer
  %nav.top_mnu
    %ul
      - if user_signed_in?
        %p.navbar-text.float-right
          Logged in as
          = succeed "." do
            %strong= current_user.email
        %li
          = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-text_color'
          = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-text_color'
          = link_to "Back to Books", books_path
          = link_to "Back to Categories", categories_path
          = link_to 'Back to Subject', subjects_path
          = link_to 'Back to Comments', comments_path
          = link_to 'Back to Users', users_path
      - else
        %li.nav-item
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-inline', id: 'user_sing_in'})do |f|
            .form-group
              = f.label :email, class: "sr-only"
              = f.email_field :email, autofocus: true, id: "inputEmail", class: " signin-field",  placeholder: "email"
            .form-group
              = f.label :password, class: "sr-only"
              = f.password_field :password, autocomplete: "off", id: "inputPassword", class: "signin-field", placeholder: "password"
            .btn
              = f.button "log_in", id: "log_in"
        %li
          = link_to "Sign up", new_user_registration_path, :class => 'navbar-text_color'
        %li
          %a(href="#about")= "about"
          %a(href="#count")= "indicators"
          %a(href="#review")= "review"

