!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %title Library
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script(src="https://kit.fontawesome.com/d7c798451e.js")
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "public/static_header"

    .wrapper
      %section(style="max-width: 100%")
        = yield

      - if notice
        %p.notice.alert.alert-success notice
      - if alert
        %p.alert.alert.alert-danger alert

      %footer.main_footer.bg_dark
        = render partial: "layouts/partials/footer"
