!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %title Library
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script(src="https://kit.fontawesome.com/d7c798451e.js")
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .loader
      .loader_inner(style="background-image: url(#{asset_path 'loader.gif'});")
    = render "public/static_header"

    .container-fluid
      .row.no-gutters
        .col-4
          .top_wrapper
            .top_descr
              .top_center
                .top_text
                  %h1.center New library just opened!
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-8
          -#.main_head(id="main_head" style="background-image: url(#{asset_path 'header.jpg'});")
          #main_head.parallax-window.parallax-window_top.main_head{"data-image-src" => "#{asset_path 'header.jpg'}", "data-parallax" => "scroll"}
    %section.s-king.inverse.section-overley(id="about" style="background-image: url(#{asset_path 'back_1.jpg'});")
      .container
        .row
          .col-md-12
            %h2= "About the Library"
        .row
          .col-lg-5.col-md-12
            %h3 The Library is
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %section.s-count.parallax-window{"id" => "count", "data-image-src" => "#{asset_path 'back_4.jpg'}", "data-parallax" => "scroll"}
      .container
        .row
          .col-sm-12
            %h2.text-center.h-first= "Library indicators"
          .col-sm-12
            .mid
              #counter.counter
                .bl
                  .number= "#{User.count}"
                  .text Users
                .bl
                  .number= "#{Category.count}"
                  .text Categories
                .bl
                  .number= "#{Book.count}"
                  .text Images
                .bl
                  .number= "#{Comment.count}"
                  .text Comments
    %section.s-review.inverse.section-overley(id="review" style="background-image: url(#{asset_path 'back_3.jpg'});")
      .container
        .row
          .col-sm-12
            %h2.text-center.h-first= "review"
          .col-sm-12
            .quotes
              #carouselExp.carousel.slide.reviews{"data-ride" => "carousel"}
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#carouselExp"}
                  %li{"data-slide-to" => "1", "data-target" => "#carouselExp"}
                  %li{"data-slide-to" => "2", "data-target" => "#carouselExp"}
                .carousel-inner
                  .carousel-item.active
                    .review_header Julia
                    .review_date 29.08.2019
                    .review_stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                    .review_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  .carousel-item
                    .review_header Alexandra
                    .review_date 25.07.2019
                    .review_stars
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                      %i.fa.fa-star
                    .review_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  .carousel-item
                    .review_header Victoria
                    .review_date 23.06.2019
                    .review_stars
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                      %i.fas.fa-star
                    .review_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %footer.main_footer.bg_dark
      = render partial: "layouts/partials/footer"

    - if notice
      %p.notice.alert.alert-success notice
    - if alert
      %p.alert.alert.alert-danger alert
